<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.elderhub.mapper.BackdownMapper">

    <resultMap id="BaseResultMap" type="com.it.elderhub.entity.Backdown">
            <id property="id" column="id" />
            <result property="customer_id" column="customer_id" />
            <result property="retreattime" column="retreattime" />
            <result property="retreattype" column="retreattype" />
            <result property="retreatreason" column="retreatreason" />
            <result property="auditstatus" column="auditstatus" />
            <result property="auditperson" column="auditperson" />
            <result property="audittime" column="audittime" />
            <result property="remarks" column="remarks" />
            <result property="is_deleted" column="is_deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,customer_id,retreattime,retreattype,retreatreason,auditstatus,
        auditperson,audittime,remarks,is_deleted
    </sql>
</mapper>
