<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.elderhub.mapper.BedDetailsMapper">

    <resultMap id="BaseResultMap" type="com.it.elderhub.entity.BedDetails">
            <id property="id" column="id" />
            <result property="bed_id" column="bed_id" />
            <result property="customer_id" column="customer_id" />
            <result property="start_date" column="start_date" />
            <result property="end_date" column="end_date" />
            <result property="bed_details" column="bed_details" />
            <result property="is_deleted" column="is_deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,bed_id,customer_id,start_date,end_date,bed_details,
        is_deleted
    </sql>
</mapper>
