<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.elderhub.mapper.CustomerMapper">

    <resultMap id="BaseResultMap" type="com.it.elderhub.entity.Customer">
            <id property="id" column="id" />
            <result property="customer_name" column="customer_name" />
            <result property="customer_age" column="customer_age" />
            <result property="customer_sex" column="customer_sex" />
            <result property="idcard" column="idcard" />
            <result property="room_no" column="room_no" />
            <result property="building_no" column="building_no" />
            <result property="bed_id" column="bed_id" />
            <result property="checkin_date" column="checkin_date" />
            <result property="expiration_date" column="expiration_date" />
            <result property="contact_tel" column="contact_tel" />
            <result property="birthday" column="birthday" />
            <result property="height" column="height" />
            <result property="weight" column="weight" />
            <result property="blood_type" column="blood_type" />
            <result property="psychosomatic_state" column="psychosomatic_state" />
            <result property="attention" column="attention" />
            <result property="filepath" column="filepath" />
            <result property="is_deleted" column="is_deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,customer_name,customer_age,customer_sex,idcard,room_no,
        building_no,bed_id,checkin_date,expiration_date,contact_tel,
        birthday,height,weight,blood_type,psychosomatic_state,
        attention,filepath,is_deleted
    </sql>
</mapper>
