<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.elderhub.mapper.FoodMapper">

    <resultMap id="BaseResultMap" type="com.it.elderhub.entity.Food">
            <id property="id" column="id" />
            <result property="food_name" column="food_name" />
            <result property="food_type" column="food_type" />
            <result property="price" column="price" />
            <result property="is_halal" column="is_halal" />
            <result property="food_img" column="food_img" />
    </resultMap>

    <sql id="Base_Column_List">
        id,food_name,food_type,price,is_halal,food_img
    </sql>
</mapper>
