<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.elderhub.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="com.it.elderhub.entity.Menu">
            <id property="id" column="id" />
            <result property="menus_index" column="menus_index" />
            <result property="title" column="title" />
            <result property="icon" column="icon" />
            <result property="path" column="path" />
            <result property="parent_id" column="parent_id" />
    </resultMap>

    <sql id="Base_Column_List">
        id,menus_index,title,icon,path,parent_id
    </sql>
</mapper>
