<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.elderhub.mapper.NurseContentMapper">

    <resultMap id="BaseResultMap" type="com.it.elderhub.entity.NurseContent">
            <id property="id" column="id" />
            <result property="serial_number" column="serial_number" />
            <result property="nursing_name" column="nursing_name" />
            <result property="service_price" column="service_price" />
            <result property="message" column="message" />
            <result property="execution_cycle" column="execution_cycle" />
            <result property="execution_times" column="execution_times" />
            <result property="status" column="status" />
            <result property="is_deleted" column="is_deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,serial_number,nursing_name,service_price,message,execution_cycle,
        execution_times,status,is_deleted
    </sql>
</mapper>
