<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.elderhub.mapper.OutwardMapper">

    <resultMap id="BaseResultMap" type="com.it.elderhub.entity.Outward">
            <id property="id" column="id" />
            <result property="customer_id" column="customer_id" />
            <result property="outgoingreason" column="outgoingreason" />
            <result property="outgoingtime" column="outgoingtime" />
            <result property="expectedreturntime" column="expectedreturntime" />
            <result property="actualreturntime" column="actualreturntime" />
            <result property="escorted" column="escorted" />
            <result property="relation" column="relation" />
            <result property="escortedtel" column="escortedtel" />
            <result property="auditstatus" column="auditstatus" />
            <result property="auditperson" column="auditperson" />
            <result property="audittime" column="audittime" />
            <result property="remarks" column="remarks" />
            <result property="is_deleted" column="is_deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,customer_id,outgoingreason,outgoingtime,expectedreturntime,actualreturntime,
        escorted,relation,escortedtel,auditstatus,auditperson,
        audittime,remarks,is_deleted
    </sql>
</mapper>
