<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.elderhub.mapper.RoleMenuMapper">

    <resultMap id="BaseResultMap" type="com.it.elderhub.entity.RoleMenu">
            <id property="id" column="id" />
            <result property="role_id" column="role_id" />
            <result property="menu_id" column="menu_id" />
    </resultMap>

    <sql id="Base_Column_List">
        id,role_id,menu_id
    </sql>
</mapper>
