<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.elderhub.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.it.elderhub.entity.User">
            <id property="id" column="id" />
            <result property="nickname" column="nickname" />
            <result property="username" column="username" />
            <result property="password" column="password" />
            <result property="sex" column="sex" />
            <result property="email" column="email" />
            <result property="phone_number" column="phone_number" />
            <result property="role_id" column="role_id" />
            <result property="create_time" column="create_time" />
            <result property="create_by" column="create_by" />
            <result property="update_time" column="update_time" />
            <result property="update_by" column="update_by" />
            <result property="is_deleted" column="is_deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,nickname,username,password,sex,email,
        phone_number,role_id,create_time,create_by,update_time,
        update_by,is_deleted
    </sql>
</mapper>
